.proyecto-ONG-Demo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-ONG-Demo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.titulo-ONG-Demo {
    word-spacing: 1vh;
    letter-spacing: .1vw;
    margin: 6% 0 3%;
    color: #B8E4F0;
    background-color: #7267CB;
    padding: 3rem;
    font-size: 7vh;
    border-radius: 10px;
    font-family: 'Shadows Into Light';
    box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.Padre-ONG-Proyecto-Demo {
    width: 80%;
}

.info-ONG-Proyecto-Demo {
    width: 90%;
    margin: 5% 0 10% 4%;
    border-radius: 10px;
    background-color: #7267CB;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
    align-items: center;
    flex-direction: column;
}

.info-ONG-Texto-Demo-Warning {
    color: #ff9e9e;
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.img-ONG-Header-Demo {
    width: 80%;
    padding: 5rem 0 3rem;
}

.info-ONG-Texto-Demo {
    width: 80%;
    font-size: 1.5rem;
    color: #B8E4F0;
    padding-bottom: 5%;
    font-weight: 400;
    text-align: center;
}

/* Ultimo Evento */

.seccion-Ultimo-Evento {
    padding: 1rem;
    width: 90%;
    margin: 10% 0 10% 4%;
    border-radius: 10px;
    background-color: #7267CB;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.info-Ultimo-Evento {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Ultimo-Evento {
    padding-top: 5%;
    font-size: 1.5rem;
    color: #B8E4F0;
    margin: 0;
}

.info-Ultimo-Evento-Texto {
    margin: 0;
    width: 100%;
    color: #B8E4F0;
    font-size: 1.2rem;
}

.seccion-Ultimo-Evento img {
    width: 35vw;
    padding: 1rem;
}

/* Carrusel-ONG */

.seccion-Grupo-ONG {
    width: 90%;
    margin: 10% 0 10% 4%;
    border-radius: 10px;
    background-color: #7267CB;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
    flex-direction: row-reverse;
    padding: 1rem;
}

.info-Grupo-ONG {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Grupo-ONG {
    font-size: 1.5rem;
    color: #B8E4F0;
    margin: 0;
    padding-top: 2%;
}

.info-Grupo-ONG-Texto {
    margin: 0;
    width: 80%;
    color: #B8E4F0;
    font-size: 1.2rem;
}

.seccion-Grupo-ONG img {
    width: 35vw;
    padding: 1rem;
}

/* Redirecciones */


.detalles-Redirecciones-ONG {
    background-color: #7267CB;
    border-radius: 20px;
    padding: 2rem;
    width: 60vw;
    margin: auto;
}

.codigo-ONG-Somos-Mas {
    display: flex;
    align-items: center;
    width: 70%;
    color: #B8E4F0;
    justify-content: space-between;
    margin: auto;
}

.codigo-ONG-Somos-Mas p,
.codigo-ONG-Somos-Mas a {
    color: #B8E4F0;
}

@media(max-width:1024px) {
    .info-ONG-Proyecto {
        width: 100%;
        margin: 5% 0 10% 0%;
    }

    .info-ONG-Texto {
        text-align: center;
    }

    .info-Crear-Cuenta-Texto-ONG {
        margin: auto;
    }

    .seccion-Crear-Cuenta-ONG {
        width: 100%;
        margin: 10% 0 10% 0%;
        padding: 1rem;
    }

    .seccion-Ultimo-Evento {
        width: 100%;
        margin: 10% 0 10% 0%;
        padding: 1rem;
    }

    .seccion-Grupo-ONG {
        width: 100%;
        margin: 10% 0 10% 0%;
        padding: 1rem;
    }

    .info-Grupo-ONG-Texto {
        width: 90%;
        text-align: left;
    }

    .detalles-Redirecciones-ONG {
        width: 90%;
        padding: 0;
        margin: auto;
    }

    .codigo-ONG-Somos-Mas {
        width: 80%;
    }

    .codigo-ONG {
        width: 85%;
        height: 10vh;
    }

    .Demo-Final-ONG {
        width: 70%;
    }

    .seccion-Crear-Cuenta-ONG img,
    .seccion-Grupo-ONG img {
        width: 50%;
    }
}

@media(max-width:768px) {
    .Padre-ONG-Proyecto {
        width: 90%;
    }

    .info-Crear-Cuenta-ONG,
    .info-Grupo-ONG,
    .info-Ultimo-Evento {
        padding-bottom: 0;
        width: 90%;
        text-align: center;
    }

    .seccion-Crear-Cuenta-ONG,
    .seccion-Grupo-ONG,
    .seccion-Ultimo-Evento {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .Demo-Final-ONG {
        flex-direction: column;
        padding-top: 3%;
        padding-bottom: 5%;
        width: 100%;
    }

    .codigo-Con-Sesion-ONG,
    .codigo-ONG {
        width: 100%;
        flex-direction: column;
    }

    .codigo-ONG {
        padding-top: 5%;
    }

    .seccion-Crear-Cuenta-ONG img,
    .seccion-Grupo-ONG img,
    .seccion-Ultimo-Evento img {
        width: 90%;
        padding-bottom: 8%;
        padding-top: 2rem;
    }

    .codigo-ONG {
        flex-direction: column;
        width: 100%;
        height: 15vh;
    }

    .detalles-Redirecciones-ONG {
        width: 95%;
    }

    .codigo-ONG-Somos-Mas {
        width: 100%;
    }
}

@media(max-width:530px) {

    .Padre-ONG-Proyecto-Demo{
        width: 95%;
    }

    .codigo-ONG-Somos-Mas a {
        color: #B8E4F0;
        text-align: center;
    }

    .info-ONG-Proyecto-Demo {
        margin: 5% 0 10% 0%;
        width: 100%;
    }

    .detalles-Redirecciones-ONG {
        padding: 1rem;
        width: 90%;
        height: 28vh;
        font-size: 1.2rem;
    }

    .codigo-Con-Sesion-ONG {
        text-align: center;
    }

    .Demo-Final-ONG a {
        text-align: center;
    }

    .info-Crear-Cuenta-Texto-ONG,
    .info-Grupo-ONG-Texto {
        text-align: center;
    }

    .titulo-ONG-Demo {
        margin: 30% 0 30%;
        padding: 1rem;
        text-align: center;
    }

    .info-Crear-Cuenta-Texto-ONG {
        width: 100%;
        text-align: center;
    }

    .info-ONG-Texto-Demo {
        width: 90%;
        text-align: center;
    }

    .Grupo-ONG {
        padding-top: 5%;
    }

    .codigo-ONG,
    .Demo-Final-ONG {
        padding: 5% 0% 3% 0%;
        font-size: 1.2rem;
    }

    .codigo-ONG p, .codigo-ONG a {
        color: #B8E4F0;
        text-align: center;
    }

    .titulo-ONG {
        text-align: center;
    }

    .info-ONG-Texto-Demo-Warning {
        width: 100%;
    }

    .codigo-ONG-Somos-Mas {
        width: 100%;
        height: 20vh;
        flex-direction: column;
        padding-bottom: 0.5rem;
    }
    .img-ONG-Header-Demo{
        width: 95%;
        padding: 2rem 0 0rem;
    }

    .seccion-Crear-Cuenta-ONG, .seccion-Grupo-ONG, .seccion-Ultimo-Evento {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        padding-bottom: 5%;
    }

    .seccion-Crear-Cuenta-ONG img, .seccion-Grupo-ONG img, .seccion-Ultimo-Evento img {
        width: 90%;
        height: 30vh;
        padding-bottom: 8%;
        padding-top: 2rem;
    }
    .crear-Cuenta-Superheroes {
        text-align: center;
    }
}
@media(max-width:320px){
    .titulo-ONG-Demo{
        font-size: 5vh;
    }
    .detalles-Redirecciones-ONG {
        padding: 1rem;
        width: 90%;
        height: 28vh;
        font-size: 1.1rem;
    }
}