.Padre-Body {
  z-index: 998;
  position: relative;
  padding-top: 15%;
}

.contenedor-Presentacion {
  width: 90%;
  margin: auto;
  display: flex;
  color: #b8e4f0;
  justify-content: space-evenly;
  padding-bottom: 2%;
}

.Presentacion-Wrapper {
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  height: 115vh;
  align-items: center;
}

.Presentacion-Content {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border-radius: 20px;
  padding: 1rem;
  width: 65%;
}

.texto-Introductorio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mi-Nombre {
  font-size: 3rem;
}

.presentacion {
  display: flex;
  width: 60%;
  justify-content: space-around;
  background-color: transparent;
  padding: 10% 0;
  padding-top: 5%;
}

.img-Perfil {
  width: 400px;
  border-radius: 50%;
  transform: translate(-150%, 0px);
  opacity: 0;
  transition: 2s;
  border: 5px solid #b8e4f0;
}

.img-Perfil.active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: 2s;
}

.vector-Desarrollador {
  width: 30%;
  height: inherit;
}

.texto-Presentacion-P {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1s;
  width: 60%;
  text-align: center;
  padding: 2%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.68);
}

.texto-Presentacion-P.active {
  transform: translate(0px, -110%);
  opacity: 1;
  transition: 2s;
  text-align: center;
  z-index: 999;
}

.hola-Mundo {
  font-size: 3vw;
  color: var(--main-lettering-color);
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.presentacion-Personal {
  margin-top: 5%;
  font-size: 1.2vw;
  color: var(--main-lettering-color);
  text-align: center;
}

@media (max-width: 1024px) {
  .texto-Presentacion-P {
    width: 50%;
  }

  .texto-Presentacion-P.active {
    transform: translate(0px, -80%);
  }

  .contenedor-Presentacion {
    height: 75vh;
    align-items: center;
  }

  .contenedor-Presentacion img {
    height: 60vh;
  }

  .img-Perfil.active {
    width: 300px;
  }

  .presentacion {
    height: 35vh;
    align-items: center;
  }

  .texto-Introductorio {
    align-items: flex-start;
  }

  .hola-Mundo {
    font-size: 4vw;
  }

  .presentacion-Personal {
    font-size: 1.5vw;
  }
}

@media (max-width: 926px) {
  .contenedor-Presentacion {
    height: 500px;
    align-items: center;
  }

  .contenedor-Presentacion img {
    width: 50%;
    height: 80%;
  }

  .presentacion {
    align-items: center;
  }

  .img-Perfil {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .presentacion {
    flex-direction: row;
    height: inherit;
  }

  .img-Perfil.active {
    width: 200px;
    height: 200px;
  }

  .presentacion-Personal {
    font-size: 2vw;
    margin-top: 0;
  }

  .hola-Mundo {
    font-size: 5vw;
  }
}

@media (max-width: 530px) {
  .contenedor-Presentacion {
    flex-direction: column;
    height: 85vh;
  }

  .contenedor-Presentacion img {
    width: 70%;
    height: 50%;
  }

  .presentacion {
    height: 85vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 4rem 3rem;
    width: 100vw;
  }

  .texto-Introductorio {
    align-items: center;
  }

  .mi-Nombre {
    font-size: 3rem;
    text-align: center;
  }

  .texto-Presentacion-P {
    text-align: center;
    width: 80vw;
  }
  .texto-Presentacion-P.active {
    justify-content: space-evenly;
    height: 35vh;
    transform: translate(0px, -65%);
  }
  .Padre-Body {
    padding: 0;
    z-index: 997;
  }

  .vector-Desarrollador {
    height: auto;
    scale: 2;
  }

  .hola-Mundo {
    font-size: 5vw;
  }

  .presentacion-Personal {
    font-size: 3.5vw;
  }
}
@media (max-width: 375px) {
  .hola-Mundo {
    font-size: 10vw;
  }

  .presentacion {
    height: 100vh;
  }

  .presentacion-Personal {
    font-size: 4vw;
  }
  .texto-Presentacion-P {
    padding: 6%;
    box-shadow: inset #11216b 0px 0px 10px 0px;
  }
}
@media (max-width: 320px) {
  .contenedor-Presentacion img {
    width: 100%;
  }
}
