.footer-Padre {
    display: flex;
    width: 100%;
}

.acerca {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
    align-items: center;
}

.acerca button {
    border: none;
    font-size: 3vh;
    background-color: transparent;
    color: rgb(184, 228, 240);
    cursor: pointer;
}

.acerca button:hover {
    color: rgb(230, 254, 255);
}

.redireccion-Footer-Padre {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
}

.redireccion-Footer-Padre span {
    width: 20%;
    padding-left: 20%;
    color: rgb(184, 228, 240);
    font-size: 3vh;
}

.redireccion-Footer-Container {
    width: 65%;
    padding-left: 20%;
    justify-content: space-between;
    display: flex;
}

.redireccion-Footer {
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-between;
}

.redireccion-Footer a {
    color: rgb(184, 228, 240);
    text-decoration: none;
    font-size: 1.2rem;
}

.redireccion-Footer a:hover {
    color: rgb(230, 254, 255);
}

.github-Linkedin-Footer {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.github-Linkedin-Footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(184, 228, 240);
}

.github-Linkedin-Footer a:hover {
    color: rgb(230, 254, 255);
}

/*****************************WAVES EFFECT********************************/

body {
    margin: 0;
}

.container {
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    z-index: 990;
    width: 100%;
    padding-top: 20%;
    font-family: Arial;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, .8);
}

.waves {
    z-index: 989;
    position: absolute;
    /*      left: 0;
    right: 0;
    height: 200px;
    */
    bottom: 0;
    height: 527px;
    width: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    left: -180px;
    bottom: -10%;
    /*width: 200px;*/
    /*height: 200px;*/
    /*width: 100%;*/
    /*border-radius: 50%;*/
    /*background:rgba(0,0,0, .3);*/
    width: 2402px;
    height: 427px;
    background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png) center bottom no-repeat;
    animation: 5s wave ease-in-out infinite alternate;
}

.wave.a {
    background-position: 0 -854px;
}

.wave.b {
    background-position: 0 -427px;
    animation-delay: .6s;
}

.wave.c {
    background-position: 0 0;
    animation-delay: 1.2s;
}

/*.container {
    position: absolute;
  }*/
@keyframes wave {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-80px, 30px);
    }

    100% {
        transform: translate(160px, -60px);
    }
}

/*****************************WAVES EFFECT END********************************/

@media(max-width:1024px) {
    .redireccion-Footer-Container {
        width: 75%;
    }

    .redireccion-Footer {
        align-items: baseline;
    }

    .logo-Linkedin {
        margin-top: 8%;
    }

    .content {
        padding-top: 30%;
    }
}

@media(max-width:768px) {
    .Padre-Body {
        padding: 10% 0 10%;
    }
    .redireccion-Footer-Padre span {
        padding-left: 10%;
    }

    .redireccion-Footer-Container {
        padding-left: 10%;
        width: 90%;
    }

    .linkedin-Footer,
    .github-Footer {
        display: none;
    }

    .footer-Padre {
        margin-top: 20%;
    }

    .container {
        height: 330px;
    }

    .content {
        height: 325px;
        padding-top: 0;
    }
}

@media(max-width:530px) {
    .acerca {
        display: none;
    }

    .footer-Padre {
        flex-direction: column;
        height: 30vh;
        margin-top: 50%;
    }

    .redireccion-Footer-Padre {
        width: 80%;
    }

    .redireccion-Footer a {
        font-size: 1rem;
    }

    .container {
        height: 100%;
    }

    .content {
        height: auto;
    }

    .github-Linkedin-Footer {
        width: 35%;
    }

    .redireccion-Footer-Padre span {
        padding-left: 10%;
        padding-bottom: 5%;
    }
}

@media(max-width:375px) {
    .redireccion-Footer-Padre span {
        padding-left: 5%;
        margin-bottom: 5%;
    }

    .redireccion-Footer-Container {
        padding-left: 5%;
    }

    .github-Footer,
    .linkedin-Footer {
        display: none;
    }

    .github-Linkedin-Footer {
        width: 26%;
    }
}

@media(max-width:320px) {
    .redireccion-Footer-Padre span {
        padding: 0;
        width: 100%;
    }

    .redireccion-Footer-Container {
        flex-direction: column;
        align-items: center;
    }

    .redireccion-Footer {
        justify-content: space-evenly;
        align-items: center;
    }

    .container {
        height: 450px;
    }
    .content{
        padding-top:20%;
    }

    .footer-Padre {
        align-items: center;
        margin-top: 40%;
        justify-content: space-evenly;
        height: 39vh;
    }

    .redireccion-Footer-Padre {
        height: 30vh;
    }

    .github-Linkedin-Footer {
        height: 10vh;
        width: 35%;
    }
}