.container-Padre-Presentacion {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;
  background-repeat: round;
  margin: auto;
}

.container-Padre-Presentacion section {
  transform: translate(0, 0);
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-Padre-Presentacion.active section {
  transform: translate(0, -70%);
  transition: all 0.7s ease;
}

.foto-Perfil {
  width: 20vw;
  border-radius: 50%;
  border: 5px solid var(--purple-dk-color);
}

.desarrolladorFS {
  font-size: 2.5vw;
  color: var(--main-lettering-color);
  margin: 0;
}
.Hola{
  font-size: 5vw;
  margin: 0;
  color: var(--purple-dk-color)
}

.nombre {
  font-size: 3vw;
  color: var(--main-lettering-color);
}

.container-Presentacion-Info {
  width: 50%;
}

.redireccion-Github-Linkedin {
  height: 6vh;
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
  padding-top: 5%;
}

.logo-Github {
  width: 80px;
  height: 50px;
}

.logo-Linkedin {
  width: 80px;
  height: 40px;
}

.redireccion-Github-Linkedin a {
  display: flex;
  align-items: center;
}

.descargar-CV {
  text-decoration: none;
  width: 70%;
  border: none;
  background-color: white;
  font-size: 1.5vw;
  color: var(--purple-dk-color);
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  transition: all 0.2s ease;
}

.descargar-CV:hover {
  background-color: #6c5fcf;
  color: white;
  transition: all 0.2s ease;
}

.show-More-Arrow {
  fill: white;
}

.show-More-Arrow:hover {
  fill: var(--main-lettering-color);
}

.mostrar-Mas {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

@media (max-width: 1024px) {
  .nombre {
    font-size: 4vw;
  }

  .desarrolladorFS {
    font-size: 3.5vw;
  }

  .redireccion-Github-Linkedin {
    width: 35vw;
    height: 5vw;
    font: 1.5vw;
  }

  .logo-Linkedin {
    height: 50px;
  }

  .logo-Github {
    height: 80px;
  }

  .descargar-CV,
  .descargar-CV:hover {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .nombre {
    font-size: 5vw;
  }
  .foto-Perfil {
    width: 20vw;
  }

  .logo-Github {
    width: 70px;
    height: 45px;
  }

  .redireccion-Github-Linkedin {
    height: 7vw;
    width: 40vw;
  }

  .logo-Linkedin {
    width: 35px;
    height: 45px;
  }

  .descargar-CV,
  .descargar-CV:hover {
    font-size: 2.5vw;
    width: 55%;
    margin-left: -5%;
  }
}

@media (max-width: 425px) {
  .nombre {
    font-size: 7vw;
  }

  .desarrolladorFS {
    font-size: 5.5vw;
  }

  .redireccion-Github-Linkedin {
    height: 12vw;
    width: 75vw;
  }

  .logo-Github {
    height: 65px;
  }

  .descargar-CV {
    width: 50%;
    font-size: 4.5vw;
  }

  .logo-Linkedin {
    width: 45px;
  }

  .foto-Perfil {
    width: 35vw;
  }
}

@media (max-width: 375px) {
  .nombre {
    font-size: 8vw;
  }

  .desarrolladorFS {
    font-size: 6.5vw;
  }

  .redireccion-Github-Linkedin {
    width: 85vw;
  }

  .descargar-CV {
    width: 55%;
    font-size: 5.5vw;
  }
}

@media (max-width: 320px) {
  .descargar-CV,
  .descargar-CV:hover {
    font-size: 5.5vw;
    width: 50%;
    margin-left: -5%;
  }
}
