.Padre-Header {
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}

.Padre-Header.active {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.separador-Menu {
  width: 100%;
  display: none;
  justify-content: space-between;
  height: 85px;
}

.contenido-Adicional {
  display: flex;
  width: 30%;
  margin-left: 1%;
  padding-top: 0.6%;
}

.contenedorBtns {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.contenedorBtns h1 {
  padding-left: 10%;
  margin: 0;
  font-size: 2vw;
  color: #b8e4f0;
  font-family: system-ui;
}

.inicio-Navbar,
.proyectos-Navbar,
.tecnologias-Navbar {
  border-radius: 10px;
  background-color: rgb(110, 60, 188);
  padding: 1rem;
  outline: none;
  border: none;
  color: #b8e4f0;
  font-size: 1.5vw;
  margin: 0;
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 20%;
}

.inicio-Navbar:hover,
.tecnologias-Navbar:hover,
.proyectos-Navbar:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.inicio-Navbar.active,
.tecnologias-Navbar.active,
.proyectos-Navbar.active {
  color: var(--purple-dk-color);
  transition: all 0.3s ease;
  background-color: white;
}

.inicio {
  display: none;
}

.svg-Home {
  display: none;
}

.nombre-Navbar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre-Navbar-h1 {
  font-family: "Bebas Neue";
  color: #b8e4f0;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .contenedor-C-Linea-Inicio,
  .contenedor-C-Linea-Proyectos,
  .contenedor-C-Linea-Contacto {
    width: 28%;
  }

  .contenido-Adicional {
    padding-top: 0;
    align-items: center;
  }

  .inicio-Navbar,
  .proyectos-Navbar,
  .tecnologias-Navbar {
    font-size: 2.5vw;
  }
}

@media (max-width: 768px) {
  .contenido-Adicional {
    width: 39vw;
    justify-content: center;
    align-items: center;
  }

  .contenedor-C-Linea-Inicio,
  .contenedor-C-Linea-Proyectos,
  .contenedor-C-Linea-Contacto {
    width: 20vw;
  }

  .contenedorBtns {
    width: 60vw;
  }

  .contenedorBtns h1 {
    font-size: 3vw;
  }

  .h1-Inicio,
  .h1-Proyectos,
  .h1-Contacto {
    font-size: 2.6vw;
  }

  .span-Border-Bottom-Proyectos,
  .span-Border-Bottom-Inicio,
  .span-Border-Bottom-Contacto {
    display: none;
  }

  .nombre-Navbar {
    width: 25%;
  }

  .inicio-Navbar,
  .proyectos-Navbar,
  .tecnologias-Navbar {
    font-size: 3.5vw;
  }
}

@media (max-width: 530px) {
  .separador-Menu {
    display: flex;
    height: 15vh;
  }

  .contenido-Adicional {
    height: 30%;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .contenedorBtns {
    height: 100%;
    width: 65%;
    justify-content: center;
  }

  .contenedorBtns h1 {
    display: none;
  }

  .inicio {
    display: flex;
    align-items: inherit;
    width: 55%;
    height: 15vw;
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    justify-content: space-evenly;
  }

  .inicio h4 {
    color: #b8e4f0;
  }

  .contenedor-C-Linea-Inicio {
    width: 70%;
  }

  .h1-Inicio,
  .h1-Contacto,
  .h1-Proyectos {
    font-size: 8vw;
  }

  .contenedor-C-Linea-Contacto {
    width: 86%;
  }

  .contenedor-C-Linea-Proyectos {
    width: 86%;
    margin-left: 4%;
  }

  .vector-Home,
  .vector-Proyecto {
    width: 5vh;
  }

  .vector-Contacto {
    padding: 0;
    height: 5vh;
  }
  .inicio-Navbar,
  .proyectos-Navbar,
  .tecnologias-Navbar {
    font-size: 4.5vw;
  }

  .nombre-Navbar {
    width: 35%;
  }

  .nombre-Navbar-h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .nombre-Navbar-h1 {
    font-size: 1rem;
  }
}

@media (max-width) {
  .nombre-Navbar {
    width: 30%;
  }
  .contenedorBtns {
    width: 70%;
  }
}
