.padre-Proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyectos-Titulo {
  color: var(--main-lettering-color);
  font-size: 3rem;
  font-family: system-ui;
  margin: 15rem 0;
  background-color: var(--purple-bg-color);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.Contenedor-Proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10rem;
}

.contenedor-GitHub-Proyecto {
  padding: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  text-decoration: none;
}

.container-Links {
  display: flex;
  background-color: rgb(123 39 255);
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 5vw;
  fill: white;
  border-radius: 10px;
}

.container-Links:hover {
  background-color: rgb(109, 19, 255);
}

.proyecto-Pokedex {
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
  border-radius: 10px;
  margin-top: 8%;
  background-color: #7267cb;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.img-Proyecto-Pokedex {
  width: 40%;
  margin: 2rem 0 2rem;
  border-radius: 10px;
}

.texto-Proyecto-Pokedex {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.titulo-Proyecto-Pokedex {
  color: #b8e4f0;
  font-size: 2rem;
  font-family: sans-serif;
  margin: 0;
}

.info-Proyecto-Pokedex {
  color: #b8e4f0;
  font-size: 1.2rem;
}

.img-Proyecto-Backend {
  width: 85%;
  margin: 1rem 0 1rem;
  border-radius: 10px;
  height: 25vh;
}

.proyecto-Backend {
  height: 95vh;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Proyecto Pokedex */

.todo-Sobre-Cafe-Proyecto {
  width: 90%;
  margin: 10% 0% 5% 0%;
  border-radius: 10px;
  background-color: #7267cb;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.img-Todo-Sobre-Cafe {
  width: 40%;
  margin: 2rem 0 2rem;
  border-radius: 10px;
}

.texto-Proyecto-Cafe {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.titulo-Todo-Sobre-Cafe {
  font-family: "Lobster", cursive;
  color: #b8e4f0;
  font-size: 2rem;
  margin: 0;
}

.info-Proyecto-Comida {
  color: #b8e4f0;
  font-size: 1.2rem;
}

.contenedor-Mas-Info {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-top: 5%;
}

.btn-Cafe {
  width: 40%;
  border: none;
  background-color: rgb(123 39 255);
  font-size: 1.4vw;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  height: 5vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-Cafe:hover {
  background-color: rgb(109, 19, 255);
}

/* Proyecto Superheroes */

.proyecto-Superheroes {
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
  border-radius: 10px;
  background-color: #7267cb;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.img-Proyecto-Superheroes {
  width: 40%;
  margin: 2rem 0 2rem;
  border-radius: 10px;
}

.texto-Proyecto-Superheroes {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.titulo-Proyecto-Superheroes {
  color: #b8e4f0;
  font-size: 2rem;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

.info-Proyecto-Superheroes {
  color: #b8e4f0;
  font-size: 1.2rem;
}

/* Proyecto de Blogs */

.proyecto-Blog {
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
  border-radius: 10px;
  background-color: #7267cb;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.img-Proyecto-Blog {
  width: 40%;
  margin: 2rem 0 2rem;
  border-radius: 10px;
}

.texto-Proyecto-Blog {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.titulo-Proyecto-Blog {
  color: #b8e4f0;
  font-size: 2rem;
  margin: 0;
  font-family: sans-serif;
}

.info-Proyecto-Blog {
  color: #b8e4f0;
  font-size: 1.2rem;
}

/* Proyecto ONG */

.proyecto-ONG {
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
  border-radius: 10px;
  background-color: #7267cb;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
}

.img-Proyecto-ONG {
  width: 40%;
  margin: 2rem 0 2rem;
  border-radius: 10px;
}

.texto-Proyecto-ONG {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 60vh;
}

.info-Proyecto-Backend {
  color: var(--main-lettering-color);
  font-size: 1.2rem;
}

.titulo-Proyecto-Backend {
  color: var(--main-lettering-color);
  font-size: 2rem;
  margin: 0;
  font-family: "system-ui";
}

@media (max-width: 1024px) {
  .todo-Sobre-Cafe-Proyecto,
  .proyecto-Blog,
  .proyecto-Superheroes,
  .proyecto-ONG {
    padding: 2rem 0;
    margin: 9% 0 9% 0%;
  }

  .texto-Proyecto-ONG {
    width: 90%;
  }

  .btn-Cafe {
    font-size: 1.1rem;
    height: 7vw;
  }

  .container-Links {
    height: 7vw;
    width: 35%;
  }

  .contenedor-Mas-Info {
    width: 90%;
  }

  .titulo-Proyecto-Backend {
    margin: 5% -30px;
    font-family: "system-ui";
    width: 120%;
    font-size: 1.5rem;
  }

  .proyecto-Backend {
    height: 75vh;
  }

  .titulo-Proyecto-Pokedex {
    margin-top: 5%;
  }

  .proyecto-ONG {
    margin-bottom: 20%;
  }

  .info-Proyecto-Backend {
    margin: 0;
    font-size: 1rem;
  }
}

@media (max-width: 926px) {
  .texto-Proyecto-Cafe {
    width: 40%;
    padding-bottom: 2%;
  }

  .texto-Proyecto-Superheroes {
    padding-bottom: 2%;
    width: 40%;
  }

  .texto-Proyecto-ONG {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .todo-Sobre-Cafe-Proyecto,
  .proyecto-Blog,
  .proyecto-Superheroes,
  .proyecto-ONG,
  .proyecto-Backend {
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }

  .texto-Proyecto-Pokedex,
  .texto-Proyecto-Blog,
  .texto-Proyecto-Cafe,
  .texto-Proyecto-ONG,
  .texto-Proyecto-Superheroes {
    width: 90%;
    display: flex;
    align-items: center;
  }

  .btn-Cafe {
    padding: 1.4rem 0;
    height: 3vw;
    font-size: 1.3rem;
  }

  .proyecto-Pokedex {
    flex-direction: column;
    align-items: center;
  }

  .container-Links {
    height: 9vw;
  }

  .titulo-Proyecto-Backend {
    margin: 5% -50px;
  }

  .info-Proyecto-Backend {
    margin: revert;
  }

  .Contenedor-Proyectos {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (max-width: 530px) {
  .padre-Proyectos {
    margin-top: 50%;
  }

  .proyectos-Titulo {
    margin: 8rem 0;
    margin-top: 35%;
  }

  .todo-Sobre-Cafe-Proyecto,
  .proyecto-Blog,
  .proyecto-Superheroes,
  .proyecto-ONG {
    padding: 2rem 0rem 1rem 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .img-Todo-Sobre-Cafe,
  .img-Proyecto-Blog,
  .img-Proyecto-ONG,
  .img-Proyecto-Superheroes,
  .img-Proyecto-Backend {
    width: 90%;
    padding: 1rem 0 1rem;
    height: 30vh;
  }

  .texto-Proyecto-Blog,
  .texto-Proyecto-Cafe,
  .texto-Proyecto-ONG,
  .texto-Proyecto-Superheroes {
    width: 90%;
  }

  .titulo-Proyecto-Blog,
  .titulo-Proyecto-ONG,
  .titulo-Proyecto-Superheroes,
  .titulo-Todo-Sobre-Cafe {
    font-size: 1.7rem;
  }

  .btn-Cafe {
    margin: 0 5%;
    padding: 0 10%;
    height: 15vw;
    font-size: 1rem;
    width: 43%;
  }

  .container-Links {
    height: 15vw;
    width: 35%;
  }

  .titulo-Proyecto-Backend {
    margin: 5% -35px;
    font-size: 1.7rem;
  }

  .proyecto-Backend {
    margin-bottom: 7%;
    width: 90%;
  }
  .Contenedor-Proyectos {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}

@media (max-width: 375px) {
  .btn-Cafe {
    padding: 0;
    width: 50%;
  }

  .titulo-Proyecto-Backend {
    font-size: 1.5rem;
  }

  .proyectos-Titulo {
    margin: 0;
    margin-bottom: 15vh;
    margin-top: 45vh;
  }
}

@media (max-width: 320px) {
  .proyectos-Titulo {
    font-size: 2rem;
    margin-bottom: 30%;
  }

  .info-Proyecto-ONG {
    margin: 0;
    margin-bottom: 10%;
  }

  .proyecto-Pokedex,
  .todo-Sobre-Cafe-Proyecto,
  .proyecto-Blog,
  .proyecto-Superheroes,
  .proyecto-ONG {
    padding: 0;
    height: inherit;
    margin: 0;
    margin-bottom: 10%;
    padding-bottom: 10%;
  }

  .contenedor-GitHub-Proyecto {
    padding: 0;
    width: 95%;
    padding-bottom: 15%;
    padding-top: 5%;
  }

  .container-Links {
    height: 20vw;
    width: 45%;
  }

  .btn-Cafe {
    height: 20vw;
    width: 80%;
  }

  .titulo-Proyecto-Backend {
    margin: auto;
    width: auto;
  }

  .proyecto-ONG {
    margin-bottom: 30%;
  }

  .proyecto-Backend {
    margin-top: 0;
  }
}
