.Padre-Tecnologias {
  border-radius: 10px;
  background-color: var(--purple-bg-color);
  width: 90%;
  margin: auto;
  text-align: center;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
  margin-top: 10%;
}

.lista-Iconos {
  margin: auto;
  padding-bottom: 5%;
  row-gap: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.icono-Tec {
  width: 100px;
}

.tecnologías {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  padding-top: 5%;
}

.nombre-Tecno {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.tecnologias-Usadas {
  width: 20%;
  color: var(--main-lettering-color);
  font-size: 3rem;
  font-family: system-ui;
  background-color: var(--purple-bg-color);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 13px 7px 1px rgb(0 0 0 / 20%);
  margin: 15% auto;
}

@media (max-width: 1024px) {
  .Padre-Tecnologias {
    margin-top: 20%;
    margin-bottom: 10%;
    width: 90%;
  }
  .lista-Iconos {
    padding-bottom: 10%;
    grid-template-columns: repeat(4, 1fr);
  }
  .tecnologias-Usadas {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15% 0;
  }
}

@media (max-width: 768px) {
  .icono-Tec {
    width: 12vw;
  }

  .nombre-Tecno {
    font-size: 3vw;
  }

  .Padre-Tecnologias {
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .tecnologías {
    padding: 0 4%;
    padding-top: 5%;
  }
  .tecnologias-Usadas {
    width: 35%;
    margin: 15% auto;
  }
}

@media (max-width: 530px) {
  .Padre-Tecnologias {
    width: 90%;
    margin-top: 15%;
    margin-bottom: 8%;
  }

  .tecnologías {
    justify-content: space-evenly;
    padding: 0 2%;
    padding-top: 3%;
  }

  .tecnologias-Usadas {
    font-size: 3rem;
    padding: 4% 1% 4% 1%;
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .icono-Tec {
    width: 16vw;
    height: 8vh;
  }

  .nombre-Tecno {
    font-size: 5vw;
  }

  .lista-Iconos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .Padre-Tecnologias {
    margin-top: 27%;
    margin-bottom: 22%;
  }

  .tecnologias-Usadas {
    width: 75%;
    padding: 15% 1%;
    margin-top: 15vh;
  }
}

@media (max-width: 320px) {
  .tecnologias-Usadas {
    width: 70%;
    font-size: 2rem;
  }
}
