@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-lettering-color: white;
  --purple-bg-color: transparent;
  --purple-dk-color: rgb(110, 60, 188);
  --gray-blue-color: #5067a1;
  --gray-color: #c1cefe;
  --second-lettering-color: #7189ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
